{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard <small>Welcome {{session.username}}</small></h1>
    {% if session.username == 'admin' %}
        <a href="/add_article" class="btn btn-success btn-s">Add Article</a>
        <a href="/view_users" class="btn btn-success btn-s">View Users</a>
        <a href="/view_GA" class="btn btn-success btn-s">View Gaming Addiction Stats</a>
        <a href="/view_IA" class="btn btn-success btn-s">View Internet Addiction Stats</a>
        <a href="/view_DAS" class="btn btn-success btn-s">View Depression, Anxiety and Stress Scale</a>
        <a href="/ga_search_query" class="btn btn-success btn-s">Gaming Search Query</a><br><br>
        <a href="/ia_search_query" class="btn btn-success btn-s">Internet Search Query</a>
        <a href="/d_search_query" class="btn btn-success btn-s">Depression Search Query</a>
        <a href="/a_search_query" class="btn btn-success btn-s">Anxiety Search Query</a>
        <a href="/s_search_query" class="btn btn-success btn-s">Stress Search Query</a>
    {% endif %}

    {% if session.username == 'admin' %}
        <h3>Depression, Anxiety and Stress Scale</h3>

        <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Depression Score</th>
      <th>Depression Result</th>
      <th>Anxiety Score</th>
      <th>Anxiety Result</th>
      <th>Stress Score</th>
      <th>Stress Result</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for dasdetail in dasdetails %}
      <tr>
        <td>{{dasdetail.name}}</td>
        <td>{{dasdetail.D_score}}</td>
        <td>{{dasdetail.D_result}}</td>
        <td>{{dasdetail.A_score}}</td>
        <td>{{dasdetail.A_result}}</td>
        <td>{{dasdetail.S_score}}</td>
        <td>{{dasdetail.S_result}}</td>
        <td>{{dasdetail.test_date}}</td>
      </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}